<a href="https://colab.research.google.com/github/illuruvineelreddy/Letsupgrad/blob/master/LetsUpgrad_Day6_Assignment_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1 :
Assuming that we have some email addresses in the "username@companyname.com" format, please write a program to print the company name of a given email address. Both user names and company names are composed of letters only. Input Format: The first line of the input contains an email address. Output Format: Print the company name in a single line. Example; Input: john@google.com Output: google.

In [2]:
Email= input("Enter the Email Address : ")
#Splitting the Email address at '@' ('ilreddy','google.com') and again splitting at '.'(google)
Company_name = Email.split('@')[1].split('.')[0]
print(Company_name)

Enter the Email Address : ilreddy@google.com
google

Question 2: Write a program that accepts a comma-separated sequence of words as input and prints the words in a
comma-separated sequence after sorting them alphabetically.
Input Format:
The first line of input contains words separated by the comma.
Output Format:
Print the sorted words separated by the comma.
Example:
Input:
without,hello,bag,world
Output:
bag,hello,without,world

In [5]:
swords = input("Input sequence of words seperated with comma :  ")
words = [word for word in swords.split(",")]
print(",".join(sorted(list(set(words)))))

Input sequence of words seperated with comma :  without,hello,bag,world
bag,hello,without,world

Question 3:
Create your own Jupyter Notebook for Sets. Reference link:
https://www.w3schools.com/python/python_sets.asp

In [7]:
s = {1,2,3,4,5,6,7,8,9,10}
print(s)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [8]:
print(type(s))
for i in s:
    print(i)

<class 'set'>
1
2
3
4
5
6
7
8
9
10

In [9]:
s.add(11)
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [10]:
s.update([12,13])
s

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [11]:
s.remove(7)
s

{1, 2, 3, 4, 5, 6, 8, 9, 10, 11, 12, 13}

In [12]:
s.discard(9)
s

{1, 2, 3, 4, 5, 6, 8, 10, 11, 12, 13}

In [13]:
poped = s.pop()
poped

1

In [14]:
s.clear()
s

set()

Question 4:
Given a list of n-1 numbers ranging from 1 to n, your task is to find the missing number. There are no
duplicates.
Input Format:
The first line contains n-1 numbers with each number separated by a space.
Output Format:
Print the missing number
Example:
Input:
1 2 3 4 6 3 7 8
Output:
5

In [16]:
def mising_number(b):
    list1 = b.split(' ')  
    list1 = [int(i) for i in list1]  
    list1 = sorted(list1) 
    set2 = {x for x in range(1, list1[-1])} 
           
    set1 = set(list1)     
    diff = set2 - set1       
    diff = list(map(str, diff))     
    print('Misisng value: ', ' '.join(diff))    
user_list = input('Enter your list: ')
mising_number(user_list)

Enter your list: 1 2 3 4 6 7 8 9
Misisng value:  5

Question 5: With a given list L, write a program to print this list L after removing all duplicate values with original order
reserved.
Example:
If the input list is
12 24 35 24 88 120 155 88 120 155
Then the output should be
12 24 35 88 120 155
Explanation:
Third, the seventh and ninth element of the list L has been removed because it was already present.
Input Format:
In one line take the elements of the list L with each element separated by a space.
Output Format:
Print the elements of the modified list in one line with each element separated by a space.
Example:
Input:
12 24 35 24
Output:
12 24 35

In [18]:
nums = [int(i) for i in input().split()]
print(*sorted(set(nums), key = nums.index))

12 24 35 24 88 120 155 88 120 155
12 24 35 88 120 155