<a href="https://colab.research.google.com/github/illuruvineelreddy/Letsupgrad/blob/master/LetsUpgrad_Day8_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Question 1:
Recreate “NB 21 map, filter, lambda.ipynb” to try different variations or perform different calculations from the ones that are in the NB

Lambda
A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Syntax of lambda lambda(arguments:expression)

The expression is executed and the result is returned:

In [2]:
l = lambda a:a*a
print(l(5))

25

In [3]:
l1 = lambda x,y:x+y           
print(l1(10,50))

60

In [5]:
l2 = lambda a,b,c:a+b-c
print(l2(20,2,40))

-18

The filter() function returns an iterator were the items are filtered through a function to test if the item is                 accepted or not.

In [7]:
def is_even(n):
    return n%2==0

x = list(filter(is_even,[1,2,3,4,5,6,7,8,9]))
print(x)

[2, 4, 6, 8]

In [9]:
print(list(filter(lambda n:n%2==0 ,[1,2,3,4,5,6,7,8,9])))

[2, 4, 6, 8]

The map() function executes a specified function for each item in an iterable. The item is sent to the function as a           parameter

In [10]:
print(list(map(lambda n:n+2 ,[1,2,3,4,5,6,7,8,9])))

[3, 4, 5, 6, 7, 8, 9, 10, 11]

The reduce() function is defined in the functools module. Like the map and filter functions, the reduce() function             receives two arguments, a function and an iterable. However, it doesn't return another iterable, instead it returns             a single value.

In [11]:
from functools import reduce

sum = reduce(lambda a,b:a+b,[1,2,3,4])
print(sum)

10

Question 2:
Recreate your own Python NB for “Classes and Objects” from the pdf provided namely
“Classes&Objects.pdf”

In [13]:
class myclass():
    x=7

In [14]:
c1 = myclass()
print(c1.x)

7

In [16]:
class car:                                          
    def __init__(self,name,model,price): 
        self.name=name
        self.price=price
        self.model=model
c2 = car("Land Rover","Range rover velar",77777)
print(c2.name)

Land Rover

In [17]:
class car:                                          
    def __init__(self,name,model,price):
        self.name=name
        self.price=price
        self.model=model
        
    def L_rover(self):
        print("Car name is:",self.name)
        
c2 = car("Land Rover","Range rover velar",77777)
c2.L_rover()

Car name is: Land Rover

In [19]:
class employee:
    empcount = 0
    
    def __init__(self,name,salary): 
        self.name=name
        self.salary=salary
        
        employee.empcount +=1
        
    def display_count(self):
        print("Total Employee:",employee.empcount)
        
    def display_employee(self):
        print("Employee Name:",self.name,"Salary:",self.salary)

emp1 = employee("Vineel", 7000)
emp2 = employee("Reddy", 9000)

emp1.display_employee()
emp2.display_employee()

print("Total Employee:",employee.empcount)

Employee Name: Vineel Salary: 7000
Employee Name: Reddy Salary: 9000
Total Employee: 2